<h2 mat-dialog-title>Hi {{data.name}}, Lets Create your New User</h2>
<mat-dialog-content>
    <div class="PersonalInfo">
        <h1>Client Personal Information<h1>
        <mat-form-field>
            <mat-label>Account Code</mat-label>
            <input matInput [(ngModel)]="data.accountCode">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Costumer ID</mat-label>
            <input matInput [(ngModel)]="data.costumerId">
        </mat-form-field>
        <mat-form-field>
            <mat-label>NickName</mat-label>
            <input matInput [(ngModel)]="data.nickName">
        </mat-form-field>
     
  
  <div class="client">
    <h1>Client</h1>
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="data.name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nacimento</mat-label>
        <input matInput [(ngModel)]="data.birthDay">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Novo Email</mat-label>
        <input matInput [(ngModel)]="data.email">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Phone </mat-label>
        <input matInput [(ngModel)]="data.phone">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Note</mat-label>
        <input matInput [(ngModel)]="data.note">
      </mat-form-field>
  </div>
  <div class="Address">
    <h1>Address</h1>
    <mat-form-field>
        <mat-label> Zip-Code/CEP </mat-label>
        <input matInput [(ngModel)]="data.zipCode">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Rua </mat-label>
        <input matInput [(ngModel)]="data.street">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Numero </mat-label>
        <input matInput [(ngModel)]="data.number">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Complemento </mat-label>
        <input matInput [(ngModel)]="data.complement">
      </mat-form-field>
      <mat-form-field>
        <mat-label> Bairro </mat-label>
        <input matInput [(ngModel)]="data.district">
      </mat-form-field>
      <mat-form-field>
        <mat-label> City </mat-label>
        <input matInput [(ngModel)]="data.city">
      </mat-form-field>
      <mat-form-field>
        <mat-label> UF </mat-label>
        <input matInput [(ngModel)]="data.state">
      </mat-form-field>
  </div>
  <div class="Document">
    <mat-form-field>
      <mat-label>Document Type Info</mat-label>
      <input matInput [(ngModel)]="data.documentNumber">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Issuing Date</mat-label>
      <input matInput [(ngModel)]="data.documentIssuingData">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Issuing Entinty </mat-label>
      <input matInput [(ngModel)]="data.documentIssuingEntity">
    </mat-form-field>
    <mat-form-field>
      <mat-label> Issuing State </mat-label>
      <input matInput [(ngModel)]="data.documentIssuingState">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</mat-dialog-actions>