<div class="container">
  <mat-drawer-container autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="drawer-top">
        <button mat-raised-button color="accent" [routerLink]="['/create']"> Novo </button>
      </div>
      
      <div class="drawer-buttons">

        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="filter_list"></mat-icon>
          Filters
        </button> 

       <button mat-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="clear_all"></mat-icon>
          Clear all
        </button> 

        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="flag"></mat-icon>
            Status
        </button> 

        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="layers"></mat-icon>
            Atibuto
        </button> 

        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="manage_search"></mat-icon>
            Meus Filtros
        </button> 

        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="cake"></mat-icon>
            Aniversário do Mês
        </button> 

        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="trending_flat"></mat-icon>
            Exportar
        </button> 
      </div>
    
    </mat-drawer>
    <div>
      <div class="toolbar-container">
        <mat-toolbar>
          <button mat-button (click)="drawer.toggle()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="sort"></mat-icon>
         </button>
          <h2> List Clientes </h2>
            <!-- <button mat-raised-button (click)="getToken()" class="FixedButton"> Token </button>  -->
            <button mat-raised-button color="primary" (click)="getClients()" class="FixedButton">Get Customers</button>
            <button mat-raised-button color="primary" (click)="clearFilter()" class="FixedButton">Clear Filter</button>


            <div class="tollbar-pesquisa">
              <mat-form-field appearance="fill">
                <input matInput placeholder="Placeholder" id="searchInput" type="text" [formControl]='searchInput'>
              </mat-form-field>
              <button mat-button (click)="searchFilter()"> <mat-icon>search</mat-icon> </button>
            </div>

        </mat-toolbar> 
      </div>

      @if(searchCustomers[0].customerId != '' && searchCustomers.length >= 1){

        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

          <ng-container matColumnDef="Servico">
            <th mat-header-cell *matHeaderCellDef> Servico </th>
            <td mat-cell *matCellDef="let element"> 

              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>

            </td>
          </ng-container>
  
          <ng-container matColumnDef="Codigo">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.accountCode}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
  
          <ng-container matColumnDef="NickName">
            <th mat-header-cell *matHeaderCellDef> NickName </th>
            <td mat-cell *matCellDef="let element"> {{element.nickname}} </td>
          </ng-container>
  
          <ng-container matColumnDef="CustomerID">
            <th mat-header-cell *matHeaderCellDef> CustomerID </th>
            <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef> Delete Button </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-raised-button color="warn" (click)="deleteClient(element.customerId)">Deletar</button>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="CustomerAlter">
            <th mat-header-cell *matHeaderCellDef> CustomerAlter </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-raised-button color="accent" [routerLink]="['edit/',element.customerId]">Alterar</button>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="CustomerDetails">
            <th mat-header-cell *matHeaderCellDef> CustomerDetails </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-raised-button color="green" [routerLink]="['detail/',element.customerId]">Detalhes</button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      }  @else {
        @if(customers.length > 1 && customers[0].customerId != ''){
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="Servico">
              <th mat-header-cell *matHeaderCellDef> Servico </th>
              <td mat-cell *matCellDef="let element"> 
  
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item [routerLink]="['detail/',element.customerId]">
                    <mat-icon>visibility</mat-icon>
                    <span>Details</span>
                  </button>
                  <button mat-menu-item [routerLink]="['edit/',element.customerId]">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item (click)="deleteClient(element.customerId)">
                    <mat-icon>delete</mat-icon>
                    <span>Deletar</span>
                  </button>
                  
                </mat-menu>
  
              </td>
            </ng-container>
  
            <ng-container matColumnDef="Codigo">
              <th mat-header-cell *matHeaderCellDef> Code </th>
              <td mat-cell *matCellDef="let element"> {{element.accountCode}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Nome">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
  
            <ng-container matColumnDef="NickName">
              <th mat-header-cell *matHeaderCellDef> NickName </th>
              <td mat-cell *matCellDef="let element"> {{element.nickname}} </td>
            </ng-container>
  
            <ng-container matColumnDef="CustomerID">
              <th mat-header-cell *matHeaderCellDef> CustomerID </th>
              <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Delete">
              <th mat-header-cell *matHeaderCellDef> Delete Button </th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-raised-button color="warn" (click)="deleteClient(element.customerId)">Deletar</button>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="CustomerAlter">
              <th mat-header-cell *matHeaderCellDef> CustomerAlter </th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-raised-button color="accent" [routerLink]="['edit/',element.customerId]">Alterar</button>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="CustomerDetails">
              <th mat-header-cell *matHeaderCellDef> CustomerDetails </th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-raised-button color="green" [routerLink]="['detail/',element.customerId]">Detalhes</button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          <!--
  
            @for (item of customers; track item) {
              <div class="list-clients">
                <div class="list-clients-nome">
                  <p>Nome:</p>
                  <span> {{item.name}} </span>
                  <p>NickName: {{item.nickname}}</p>
                </div>
                <div class="list-clients-Idcustomer">
                  <p>CustomerId: {{item.customerId}}</p>
                </div>
                <div class="list-clients-botoes">
                  <button mat-raised-button color="green" [routerLink]="['detail/',item.customerId]"> Detalhes do Usuário </button>
                  <button mat-raised-button color="warn" (click)="deleteClient(item.customerId)"> Deletar Cliente </button>
                  <button mat-raised-button color="accent" [routerLink]="['edit/',item.customerId]"> Alterar Cliente</button>
                </div>
              </div>
          }
  
          -->
  
        }
        
        
    }
    

    </div>
</mat-drawer-container>