<div class="container">
  <div class="container-botoes">
      <h1>List Clientes</h1>
      <button mat-raised-button (click)="getToken()"> Pegar Token </button>
      <button mat-raised-button color="primary" (click)="getClients()"> Pegar Customers </button>
      <button mat-raised-button color="accent" [routerLink]="['/create']">Cadastrar novo Cliente / Alterar Cliente</button>
  </div>
  
  @if (customers){
    @for (item of customers; track item) {

      <div class="list-clients">
        <div class="list-clients-nome">
          <p> Nickname: {{item.nickname}} | CustomerName: {{item.name}}  </p>
        </div>
        <div class="list-clients-Idcustomer">
          <p>CustomerId: {{item.customerId}}</p>
        </div>
        <div class="list-clients-botoes">
          <button mat-raised-button color="green" [routerLink]="['detail/',item.customerId]"> Detalhes do Usuário </button>
          <button mat-raised-button color="warn" (click)="deleteClient(item.customerId)"> Deletar Cliente </button>
          <button mat-raised-button color="accent" [routerLink]="['edit/',item.customerId]"> Alterar Cliente</button>
        </div>
      </div>

    }
  }
  
</div>
