<div class="container">
    <div class="container-botoes">
      
        <h1>List Clientes</h1>
        <button mat-raised-button (click)="getToken()"> Pegar Token </button>
        <button mat-raised-button color="primary" (click)="getClients()"> Pegar Customers </button>
        <button mat-raised-button color="accent" [routerLink]="['/create']">Cadastrar novo Cliente</button>
    </div>

    <div class="input-container">
        <label for="customerId"> CustomerId </label>
        <input id="customerId" type="text" [formControl]="idCustomer">
        <button mat-raised-button (click)="getClient(idCustomer.value)"> Pegar Customer ID</button>
    </div>

    @if (customers){
      @for (item of customers; track item) {

        <div class="list-clients">
          <p> CustomerName: {{item.name}} | CustomerId: {{item.customerId}}  </p>
          <span> </span>
        </div>

      }
    }


    
    @if(customer){
      <div class="list-clients">
        <p> CustomerName: {{customer.name}} | CustomerId: {{customer.customerId}}</p>
      </div>
    }
  
</div>
