
.container{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;

}

.container mat-drawer-container mat-drawer{
    background-color: whitesmoke    
}

.FixedButton{
    height: 40px;
    width: 130px;
    overflow: hidden;
    border-radius: 20px;
}

.drawer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke
}

.drawer-top button{
    margin: 14px 10px;
    border-radius: 20px;
}


.drawer-buttons button{
    display: block;
    width: 100%;
    height: 50px;
    margin: 1px 0px;
}

.toolbar-container{
    
    height: 10vh;

}

.toolbar-container mat-toolbar{
    background-color: whitesmoke;
    border-bottom: 1px solid gray;
}

.toolbar-container .FixedButton {
    margin-left: 2vw ;
}

.toolbar-container .tollbar-pesquisa{
    padding: 1.5vw 0vw 0px 65vw;
}

.tollbar-pesquisa-list{
    list-style: none;
    display: flex;
}

.input-container button{
    margin-right: 20px;
}


.input-container {
    margin: 10px 15px;
}

.list-clients{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:  15px 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.list-clients p{
    margin: 10px;
    text-align: center;
}

.list-clients-botoes button{
    margin: 0px 10px;
    align-items: center;

}

.initial-toolbar mat-toolbar{
    padding-bottom: 15px;
    border-bottom: 0.1px solid gray;
}

.initial-toolbar{
    padding: 0px 0px 0px 0px;
}

.toolbar-icons{
    margin-left: 80vw;

}

.toolbar-icons ul{
    list-style: none;
    display: flex;
}

