

.container-botoes button {
    margin-right: 5px;
}

.input-container button{
    margin-right: 20px;
}

.list-clients{
    margin:  15px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.list-clients p{
    margin-left: 10px;
    text-align: center;
}

.input-container {
    margin: 10px 15px;
}

.container-botoes{
    display: flex;
    align-items: center ;
    justify-content: space-around;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ;
    border: 1px solid black;
    padding: 10px;
}

#customerId{
    margin: 8px;
}