<div class="toolbar-container">
    <mat-toolbar>
        <span>Detalhes do Cliente</span>
     <button mat-raised-button type="button" color="warn" [routerLink]="['']" routerLinkActive="yes"> Cancelar </button>
     <button mat-raised-button type="button" color="warn" (click)="styleChange()"> Old/New </button>
     
    </mat-toolbar> 
</div>

<div class="detailedCliente-main">
    <div class="detailedClient-pesronalInfo">
        <h2>ClienteId: <span>{{clienteDetailed.customerId}}</span></h2>
        <h2>Nome: {{clienteDetailed.name}}</h2>
        <p>Aniversário: {{clienteDetailed.birthDate}}</p>
        <p>Mãe: {{clienteDetailed.motherName}}</p>
        <p>Pai: {{clienteDetailed.fatherName}}</p>
    </div>
</div>
<div class="main-container">
    <ul class="main-container-lista">
        <li class="bloco-branco">
            <h1> Cliente </h1>
            <span>Nome</span>
            <h2> {{clienteDetailed.name}} </h2>
            <span>Nascimento</span>
            <h3>{{clienteDetailed.birthDate}}</h3>
            <span>Nome da Mãe</span>
            <h3>{{clienteDetailed.motherName}}</h3>
            <span>Nome do Pai</span>
            <h3>{{clienteDetailed.fatherName}}</h3>
            <button mat-raised-button (click)="openParentsDialog()">Alterar Pais</button>
        </li>

        <li class="bloco-branco">
            <div class="detailedClient-note">
                <h1> Notes </h1>
                <h3> {{this.clienteDetailed.note}}</h3>
            <button mat-raised-button (click)="openNoteDialog()">Notes</button>

            </div>
        </li>

        <li class="bloco-branco">
            <h2> Telefones </h2>
            @for(telefone of clienteDetailed.phones; track telefone; let id = $index ){
                <div class="alterarFields">
                    <h3>{{telefone.ddd}}{{telefone.number}}</h3>
                <button mat-button (click)="openPhoneDialog(true, id)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
                  </button>
                </div>
            }
            <button mat-raised-button (click)="openPhoneDialog(false)"> Add Phone </button>

        </li>

        <li class="bloco-branco">
            <h2>E-mails</h2>
            @for(email of clienteDetailed.emails; track email; let id = $index ){
                <div class="alterarFields">
                    <h3>{{email.email}}</h3>
                    <button mat-button (click)="openEmailDialog(true, id)">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
                    </button>
                </div>
            }
            <button mat-raised-button (click)="openEmailDialog(false)">Email</button>
        </li>

        <li class="bloco-branco">
            <h2>Endereços</h2>
            <ul>
                <li>
                    @for(endereco of clienteDetailed.addresses; track endereco; let id = $index ){
                        <div class="alterarFields">
                            <span>{{endereco.street}} - {{endereco.number}}</span> 
                            <p>{{endereco.district}} - {{endereco.city}}</p>
                            <button mat-button (click)="openAddressesDialog(true, id)">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
                            </button>
                        </div>  
                    }
                    <button mat-raised-button (click)="openAddressesDialog(false)">Address</button>
                </li>
            </ul>
        </li>

        <li class="bloco-branco">
            <h2>Documentos</h2>
            @for(documento of clienteDetailed.documents; track documento; let id = $index ){
                <div class="alterarFields">
                <span>Numero</span>
                <p>{{documento.number}}</p>
                <span>Categoria</span>
                <h3>{{documento.category}}</h3>
                <span>Data de Criação</span>
                <p>{{documento.issuingDate}}</p>
                <span>Orgão Emissor </span>
                <p>{{documento.issuingEntity}}</p>
                <span>Data de Criação</span>
                <p>{{documento.issuingCountry}}</p>
                <button mat-button (click)="openDocumentDialog(true, id)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
                </button>
                </div>
            }
            <button mat-raised-button (click)="openDocumentDialog(false)">Document</button>

        </li>

        <li class="bloco-branco">
            <h2>Contas Bancárias</h2>
            @for(bankAccount of clienteDetailed.bankAccounts; track bankAccount; let id = $index ){
                <div class="alterarFields">
                <span>Nome Banco</span>
                <h3>{{bankAccount.bankName}}</h3>
                <span>Numero do Banco</span>
                <h3>{{bankAccount.accountNumber}}</h3>
                <button mat-button (click)="openBankAccountDialog(true, id)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
                </button>
                </div> 
            }
            <button mat-raised-button (click)="openBankAccountDialog(false)">Adiconar / Alterar</button>
        </li>

        <li class="bloco-branco">
            <h2>Beneficios</h2>
            @for(benefit of clienteDetailed.benefits; track benefit; let id = $index ){
                <div class="alterarFields">
                <span>Codigo Beneficio</span>
                <h3>{{benefit.code}}</h3>
                <span>Numero</span>
                <h3>{{benefit.number}}</h3>
                <button mat-button (click)="openBenefitsDialog(true, id)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
                </button>
                </div>  
            }
            <button mat-raised-button (click)="openBenefitsDialog(false)">Adiconar / Alterar</button>

        </li>

        <li class="bloco-branco">
            <h2>Sites</h2>

        </li>


        <!-- A partir daqui seria a segunda parte no Site-->
        <li class="bloco-branco">
            <span>Icone de empresa</span>
            <span>Conta</span>
            <h2>Conta Usuário Final</h2>
        </li>

        <li class="bloco-branco">
            <span>Icone de TEMPO</span>
            <h2>Agendamentos</h2>
        </li>

        <li class="bloco-branco">
            <span>icone de loja</span>
            <h2>Marcadores</h2>
        </li>

        <li class="bloco-branco">
            <h2>Loja</h2>
        </li>

        <li class="bloco-branco">
            <h2>Agenda</h2>
        </li>

        <li class="bloco-branco">
            <h2>Agente Superior</h2>
        </li>

        <li class="bloco-branco">
            <h2>Campanha</h2>
        </li>

        <li class="bloco-branco">
            <h2>Tipo de Origem</h2>
        </li>

        <li class="bloco-branco">
            <h2>Tipo de Entrada</h2>
        </li>

        <li class="bloco-branco">
            <h2>Campos</h2>
        </li>

        <li class="bloco-branco">
            <h2>Cadastro</h2>
        </li>

    </ul>
</div>

