.input-container {
    width: 100%;
    border-bottom: 2px solid black;
}

.input-container button{
    margin-left: auto;
}

.toolbar-cliente {
    width: 100%;
    border-bottom: 2px solid black;
}

.toolbar-cliente button {
    margin-left: auto;
}


.detailed-cliente-main{
    margin: 10px;
}

.detailedClient-pesronalInfo-container{
    display: flex;
    flex-direction: column;
}

.detailedClient-pesronalInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    padding: 5px;
    border: 1px dashed black;
}

.detailedClient-adresses{
    display: inline-block;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border: 1px dashed black;
}

.detailedClient-adresses p{
    border-bottom: 1px solid black ;
    margin-bottom: 5px;
}

.detailedClient-phone{
    display: inline-block;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border: 1px dashed black;
}

.detailedClient-phone p{
    border-bottom: 1px solid black ;
    margin-bottom: 5px;
}

.detailedClient-document{
    display: inline-block;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border: 1px dashed black;
}

.detailedClient-document p{
    border-bottom: 1px solid black ;
    margin-bottom: 5px;
}

.detailedClient-contaBancaria{
    display: inline-block;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border: 1px dashed black;
}

.detailedClient-contaBancaria p{
    border-bottom: 1px solid black ;
    margin-bottom: 5px;
}

.detailedClient-beneficios{
    display: inline-block;
    width: 25%;
    margin: 10px;
    padding: 10px;
    border: 1px dashed black;
}

.detailedClient-beneficios p{
    border-bottom: 1px solid black ;
    margin-bottom: 5px;
}