<div class="detailed-container">
    <div class="toolbar-container">
        <mat-toolbar>
            <span>Detalhes do Cliente</span>
         <div class="toolbar-botoes">
            <button mat-raised-button type="button" color="warn" [routerLink]="['/listaClientes']" routerLinkActive="yes"> Votlar </button>
         </div>
         
        </mat-toolbar> 
    </div>
    
    <div class="detailedCliente-main">
        <div class="detailedClient-personalInfo">
            <h2>ClienteId: <span>{{clienteDetailed.customerId}}</span></h2>
            <h2>Nome: {{clienteDetailed.name}}</h2>
            <p>Aniversário: {{clienteDetailed.birthDate}}</p>
            <p>Mãe: {{clienteDetailed.motherName}}</p>
            <p>Pai: {{clienteDetailed.fatherName}}</p>
        </div>
    </div>
    <div class="main-container">
        <ul class="main-container-lista">
            <li class="bloco-branco">
                <h1> Cliente </h1>
                <span>Nome</span>
                <h2> {{clienteDetailed.name}} </h2>
                <span>Nascimento</span>
                <h3>{{clienteDetailed.birthDate}}</h3>
                <span>Nome da Mãe</span>
                <h3>{{clienteDetailed.motherName}}</h3>
                <span>Nome do Pai</span>
                <h3>{{clienteDetailed.fatherName}}</h3>
                <button mat-raised-button (click)="openParentsDialog()">Alterar Pais</button>
            </li>
    
            <li class="bloco-branco">
                <div class="detailedClient-note">
                    <h1> Notas </h1>
                    <h3> {{this.clienteDetailed.note}}</h3>
                    
                <button mat-raised-button (click)="openNoteDialog()">Notas</button>
    
                </div>
            </li>
    
            <li class="bloco-branco">
                <h2> Telefones </h2>
                @for(telefone of clienteDetailed.phones; track telefone; let id = $index ){
                    <div class="alterarFields">
                        <ul>
                            <li>
                                <h1>TEL:({{telefone.ddd}}) {{telefone.number}} </h1>
                            </li>
                            <li>
                                <button mat-icon-button (click)="openPhoneDialog(true, id)">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
                                  </button>
                            </li>
                        </ul>
                    </div>
                    
                }
                <button mat-raised-button (click)="openPhoneDialog(false)"> Adicionar Telefones </button>
    
            </li>
    
            <li class="bloco-branco">
                <h2>E-mails</h2>
                @for(email of clienteDetailed.emails; track email; let id = $index ){
                    <div class="alterarFields">
                        <ul>
                            <li>
                                <h3>{{email.email}}</h3>
                            </li>
                            <li>
                                <button mat-icon-button (click)="openEmailDialog(true, id)">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
                                </button>
                            </li>
                        </ul>
                    </div>
                }
                <button mat-raised-button (click)="openEmailDialog(false)"> Adicionar Email </button>
            </li>
    
            <li class="bloco-branco">
                <h2>Endereços</h2>
                    @for(endereco of clienteDetailed.addresses; track endereco; let id = $index ){
                    <div class="alterarFields"> 
                        <ul> 
                            <li>
                                <span>Rua:</span>
                                <h3>{{endereco.street}} {{endereco.number}} </h3>
                            </li>
                            <li>
                                <span>Bairro:</span>
                                <h3> {{endereco.district}}</h3>
                            </li>
                            <li>
                                <span>Cidade:</span>
                                <h3> {{endereco.city}} </h3>
                            </li>
                            <li>
                                <button mat-icon-button (click)="openAddressesDialog(true, id)">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
                                </button>
                            </li>
                        </ul> 
                    </div>
                    }
                    <button mat-raised-button (click)="openAddressesDialog(false)"> Adicionar Endereço </button>
            </li>
    
            <li class="bloco-branco">
                <h2>Documentos</h2>
                @for(documento of clienteDetailed.documents; track documento; let id = $index ){
                <div class="alterarFields">
                    <ul>
                        <li>
                            <span>Numero:</span>
                            <h3> {{documento.number}} </h3>
                        </li>
                        <li>
                            <span>Categoria:</span>
                            <h3>  {{documento.category}} </h3>
                        </li>
                        <li>
                            <span>Data de Criação:</span>
                            <h3>  {{documento.issuingDate}} </h3>
                        </li>
                        <li>
                            <span>Orgão Emissor:</span>
                            <h3>  {{documento.issuingEntity}} </h3>
                        </li>
                        <li>
                            <span>Data de Criação:</span>
                            <h3>  {{documento.issuingCountry}} </h3>
                        </li>
                        <li>
                            <button mat-icon-button (click)="openDocumentDialog(true, id)">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
                            </button>
                        </li>
                    </ul>
                </div>
                }
                <button mat-raised-button (click)="openDocumentDialog(false)"> Adicionar Documento </button>
    
            </li>
    
            <li class="bloco-branco">
                <h2>Contas Bancárias</h2>
                @for(bankAccount of clienteDetailed.bankAccounts; track bankAccount; let id = $index ){
                <div class="alterarFields">
                    <ul>
                        <li>
                            <span>Nome do Banco:</span>
                            <h3>  {{bankAccount.bankName}} </h3>
                        </li>
                        <li>
                            <span>Numero do Banco:</span>
                            <h3>  {{bankAccount.accountNumber}} </h3>
                        </li>
                        <li>
                            <button mat-icon-button (click)="openBankAccountDialog(true, id)">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
                            </button>
                        </li>
                    </ul>
                </div> 
                }
                <button mat-raised-button (click)="openBankAccountDialog(false)">Adicionar Banco</button>
            </li>
    
            <li class="bloco-branco">
                <h2>Beneficios</h2>
                @for(benefit of clienteDetailed.benefits; track benefit; let id = $index ){
                    <div class="alterarFields">
                        <ul>
                            <li>
                                <span>Codigo Beneficio: </span>
                                <h3>{{benefit.code}}</h3>
                            </li>
                            <li>
                                <span>Numero: </span>
                                <h3>{{benefit.number}}</h3>
                            </li>
                            <li>
                                <button mat-icon-button (click)="openBenefitsDialog(true, id)">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
                                </button>
                            </li>
                        </ul>
                    
                    
                    
                    </div>  
                }
                <button mat-raised-button (click)="openBenefitsDialog(false)"> Adicionar Beneficio </button>
    
            </li>
    
        </ul>
    </div>
</div>

