.detailed-container{
    background-color: white
}

.detailed-container mat-toolbar{
    background-color: white;

}

.toolbar-container {
    width: 100%;
    border-bottom: 0.5px solid gray;
    display: flex;
    justify-content:center;
    align-items: center;
}

.toolbar-container .toolbar-botoes{
    margin-left: 80%;
}

.toolbar-botoes button{
    margin-left: 10px;
    border-radius: 20px;
}


.detailed-cliente-main{
    margin: 10px;
}

.detailedClient-personalInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    padding: 5px;
}

.main-container{
    display: inline-flex;
}

.main-container button{
    border-radius: 20px;
}

.main-container-lista {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
}

.main-container-lista li {
    width: 45%;
    align-items: center;
    align-content: center;
    text-align: center;
    
}

.bloco-branco {
    background-color: whitesmoke;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    overflow-y: scroll; 
}

.bloco-branco button{
    margin: 10px;
}

.alterarFields{
    display: flex;
    align-content: center;
    justify-content: center;
}

.alterarFields ul{
    list-style: none;
    display: flex;
    margin: 10px;
    border-bottom: 3px solid black;
    border-radius: 10px;

}

.alterarFields li{
    margin: 10px;

}

.telefones{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

