<div class="toolbar-container">
    <mat-toolbar>
        <span>Detalhes do Cliente</span>
     <button mat-raised-button type="button" color="warn" [routerLink]="['']" routerLinkActive="yes"> Cancelar </button>
    </mat-toolbar> 
</div>

<div class="detailedCliente-main">
    <div class="detailedClient-pesronalInfo">
        <h2>ClienteId: <span>{{clienteDetailed.customerId}}</span></h2>
        <h2>Nome: {{clienteDetailed.name}}</h2>
        <p>Aniversário: {{clienteDetailed.birthDate}}</p>
        <p>Mãe: {{clienteDetailed.motherName}}</p>
        <p>Pai: {{clienteDetailed.fatherName}}</p>
    </div>
    <div class="detailedClient-pesronalInfo-container">
    @if(clienteDetailed){
        @for(enderecos of clienteDetailed.addresses; track enderecos){
            <div class="detailedClient-adresses">
                <h1>Endereços:</h1>
                <p>Cep:{{enderecos.zipCode}}</p>
                <p>Rua:{{enderecos.street}}</p>
                <p>Bairro:{{enderecos.district}}</p>
                <p>Cidade:{{enderecos.city}}</p>
            </div>
        }

        @for(telefones of clienteDetailed.phones; track telefones){
            <div class="detailedClient-phone">
                <h1>Telefones:</h1>
                <p>DDD:{{telefones.ddd}}</p>
                <p>Numero:{{telefones.number}}</p>
            </div>
        }

        @for(emails of clienteDetailed.emails; track emails){
            <div class="detailedClient-phone">
                <h1>Email:</h1>
                <p>{{emails.email}}</p>
            </div>
        }

        @for(documento of clienteDetailed.document; track documento){
            <div class="detailedClient-document">
                <h1>Documentos: </h1>
                <p>Numero do Documento: {{documento.number}}</p>
            </div>
        }

        @for(contaBancaria of clienteDetailed.bankAccounts; track contaBancaria){
            <div class="detailedClient-contaBancaria">
                <h1>Conta no Banco: </h1>
                <p>Nome do Banco: {{contaBancaria.bankName}}</p>
                <p>Código do Banco: {{contaBancaria.branchCode}}</p>

            </div>
        }

        @for(beneficios of clienteDetailed.benefits; track beneficios){
            <div class="detailedClient-beneficios">
                <h1>Beneficios:</h1>
                <p>{{beneficios.code}}</p>
                <p>{{beneficios.description}}</p>

            </div>
        }
    }
    </div>
</div>