<div class="initial-toolbar">
  <mat-toolbar>
    <h2> Corban 360 </h2>
    <div class="toolbar-icons">
      <ul>
        <li>
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>search</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>call</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>wifi</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>notifications</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>event</mat-icon>
          </button>
        </li>

        <li>
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>person</mat-icon>
          </button>
        </li>
      </ul>
    </div>
      
  </mat-toolbar> 

  <router-outlet> </router-outlet>
</div>