
#tela_Login{
    height: 100vh;
    width: 100vw;
}

// Login Css
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.login-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 650px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.login-fields h1 {
    font-family: Lucida Handwriting;
    font-size: 40px;
    border: white 5px solid;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li{
    padding: 5px 30px 5px 0px;
}

li mat-form-field { 
    width: 20vw;
    text-align: center;
}



// Toolbar

mat-toolbar{
    justify-content: space-between;
    padding: 0;
    
}

.toolbar-container{
    height: auto;
}

.initial-toolbar mat-toolbar{
    padding-bottom: 10px;
    border-bottom: 0.1px solid transparent;
}

.initial-toolbar{
    padding: 10px 0px 0px 0px;
    outline: none;
    border-bottom: 2px solid black;
}

.toolbar-icons ul{
    list-style: none;
    display: flex;
}

.tituloToolbar{
    font-size: 50px;
    font-family: 'Lucida Handwriting';
}

.userIcon{
    scale: (1.5);
}
