<h2 mat-dialog-title>Hi{{data.name}}</h2>
<mat-dialog-content>
  <p>What's your Document Information<p>
  <div class="pocketFilds">
    <mat-form-field>
    <mat-label>Type</mat-label>
    <input matInput [(ngModel)]="data.document.typeCode">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <input matInput [(ngModel)]="data.document.category">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Number</mat-label>
    <input matInput [(ngModel)]="data.document.number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Issuing Date</mat-label>
    <input matInput [(ngModel)]="data.document.issuingDate">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Issuing Entinty </mat-label>
    <input matInput [(ngModel)]="data.document.issuingEntity">
  </mat-form-field>
  <mat-form-field>
    <mat-label> Issuing State </mat-label>
    <input matInput [(ngModel)]="data.document.issuingState">
  </mat-form-field>
</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</mat-dialog-actions>