<h2 mat-dialog-title>Hi {{data.name}}</h2>
<mat-dialog-content>
  <p>What's your BankAccount </p>
  <mat-form-field>
    <mat-label>Type Code</mat-label>
    <input matInput [(ngModel)]="data.typeCode">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name Bank</mat-label>
    <input matInput [(ngModel)]="data.bankName">
  </mat-form-field>
  <mat-form-field>
  <mat-label> Code </mat-label>
    <input matInput [(ngModel)]="data.bankCode">
  </mat-form-field>
  <mat-form-field>
    <mat-label> Account Number </mat-label>
      <input matInput [(ngModel)]="data.bankAccountNumber">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</mat-dialog-actions>