<h2 mat-dialog-title>Olá {{data.name}}</h2>
<mat-dialog-content>
  <p>Qual é o seu Nome</p>
  <mat-form-field>
    <mat-label> Seu Nome </mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <p>Qual é o nome dos Seus Pais ?</p>
  
  <mat-form-field class="littleSpace">
    <mat-label>Nome da sua Mãe</mat-label>
    <input matInput [(ngModel)]="data.motherName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nome do seu Pai</mat-label>
    <input matInput [(ngModel)]="data.fatherName">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Não Obrigado</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</mat-dialog-actions>