<h2 mat-dialog-title>Hi {{data.name}}</h2>
<mat-dialog-content>
  <p>What's your Benefits Informations </p>
  <mat-form-field>
    <mat-label>Type Code</mat-label>
    <input matInput [(ngModel)]="data.benefitsTypeCode">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Benefit Number</mat-label>
    <input matInput [(ngModel)]="data.benefitNumber">
  </mat-form-field>
  <mat-form-field>
  <mat-label> Benefit Codigo </mat-label>
    <input matInput [(ngModel)]="data.benefitCode">
  </mat-form-field>
  <mat-form-field>
    <mat-label> Value </mat-label>
      <input matInput [(ngModel)]="data.benefitValue">
  </mat-form-field>
  <mat-form-field>
    <mat-label> Value Net </mat-label>
      <input matInput [(ngModel)]="data.benefitNetValue">
  </mat-form-field>
  <mat-form-field>
    <mat-label> Issuing Date </mat-label>
      <input matInput [(ngModel)]="data.benefitIssueDate">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</mat-dialog-actions>