
.login-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    margin: 15vh 0vw 0vh 26vw;
    width: 40vw;
    height: 60vh;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: black;
    color: white;
}

ul{
    border-radius: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li mat-form-field { 
    width: 30vw;
    text-align: center;
}

li{
    padding: 5px;
}

