.createClients-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    list-style: none;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.botoes button{
    height: 90px;
    width: 150px;

}

.input-container{
    margin-left: 10px;
    border-bottom: 2px solid black;
}

.input-container button {
    margin: 10px;
    padding: 10px;

}

.main-container-forms{
    display: flex;
}

.main-container-forms mat-form-field {
    margin-right: 10px;
}

.main-container-forms ul li {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}