<div class="createClients-container">

<div class="input-container">
  <mat-toolbar>
    <span>Novo Cliente ou Alteração de Dados</span>
    <!--
    <mat-form-field appearance="outline" class="example-full-width">
      <input matInput placeholder="CustomerID" type="text" [formControl]="idCustomer" >
    </mat-form-field>
    <button mat-raised-button (click)="getClient(this.idCustomer)"> Pegar Customer Especifico </button>
    
    -->
  <button mat-raised-button color="primary" type="button" (click)="putClient()"> Salvar Alterações </button>
 <button mat-raised-button type="button" color="warn" [routerLink]="['']" routerLinkActive="yes"> Cancelar </button>
</mat-toolbar> 
</div>
    
<form #clientForm="ngForm" (ngSubmit)="submitForm()"> 

  <div class="Botoes">
  </div>

    <div class="main-container-forms">
    
      <ul>
        <li>
          <div class="main-container-forms-cliente">
            <h1> Client Personal Information </h1>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Account Code </mat-label>
              <input matInput placeholder="Account Code" [(ngModel)] = "clienteLite.accountCode" name="accountCode" >
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Costumer ID </mat-label>
              <input matInput placeholder="CostumerId" [(ngModel)] = "clienteLite.customerId" name="costumerId" >
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> NickkName </mat-label>
              <input matInput placeholder="Nickname" [(ngModel)] = "clienteLite.nickname" name="nickname" >
            </mat-form-field>

          </div>
        </li>

        <li>
    
          <div class="main-container-forms-cliente">
            <h1> Cliente </h1>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Nome </mat-label>
              <input matInput placeholder="Nome" [(ngModel)] = 'clienteLite.name' name="name">
              <mat-hint align="end"> Obrigatório </mat-hint>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Nacimento </mat-label>
              <input matInput placeholder="Nacimento" [(ngModel)] = "clienteLite.birthDate" name="birthDate">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> DDD </mat-label>
              <input matInput placeholder="DDD" [(ngModel)] = "phone.ddd" name="phoneDDD">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Telefone </mat-label>
              <input matInput placeholder="Telefone" [(ngModel)] = "phone.number" name="phoneNumber">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput placeholder="E-mail" [(ngModel)] = "email.email" name="email">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput placeholder="Observação" [(ngModel)] = 'clienteLite.note' name="note">
            </mat-form-field>
    
          </div>
        </li>
        <li>

          <div class="main-container-forms-cliente">
            <h1> Endereço </h1>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> CEP </mat-label>
              <input matInput placeholder="CEP" [(ngModel)] = 'address.zipCode' name="zipCode">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Rua </mat-label>
              <input matInput placeholder="Endereco" [(ngModel)] = 'address.street' name="street">
              <mat-hint align="end"> (rua, avenida, praça, etc) </mat-hint>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Numero </mat-label>
              <input matInput placeholder="numero" [(ngModel)] = 'address.number' name="addressNumber">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Complemento </mat-label>
              <input matInput placeholder="Complemento" [(ngModel)] = 'address.complement' name="addressComplement">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Bairro </mat-label>
              <input matInput placeholder="Bairro" [(ngModel)] = 'address.district' name="addressDistrict">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Cidade </mat-label>
              <input matInput placeholder="Cidade" [(ngModel)] = 'address.city' name="addressCity">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> UF </mat-label>
              <input matInput placeholder="UF" [(ngModel)] = 'address.state' name="addressState">
            </mat-form-field>
    
          </div>
        </li>
        
        <li>
          <div class="main-container-forms-cliente">
            <h1> Dados Pessoais </h1>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Nome da Mãe </mat-label>
              <input matInput placeholder="Nome do Mãe" [(ngModel)] = 'clienteLite.motherName' name="motherName">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Nome do Pai </mat-label>
              <input matInput placeholder="Nome do Pai" [(ngModel)] = 'clienteLite.fatherName' name="fatherName">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Naturalidade </mat-label>
              <input matInput placeholder="Naturalidade" [(ngModel)] = 'clienteLite.nationality' name="naturalness">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Estado da Naturalidade </mat-label>
              <input matInput placeholder="Estado_Naturalidade" [(ngModel)] = 'clienteLite.naturalnessState' name="naturalnessState">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Nacionalidade  </mat-label>
              <input matInput placeholder="Nacionalidade" [(ngModel)] = 'clienteLite.nationality' name="nationality">
            </mat-form-field>
    
          </div>
        </li>
    
      </ul>
    
    
      <ul> 
    
        <li>
          <div class="main-container-forms-cliente">
            <h1> Documento </h1>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Numero do Documento </mat-label>
              <input matInput placeholder="Numero do Documento" [(ngModel)] = 'document.number' name="number">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Data de Emissão </mat-label>
              <input matInput placeholder="Data de Emissão Documetno" [(ngModel)] = 'document.issuingDate' name="issuingDate">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Orgão Emissor </mat-label>
              <input matInput placeholder="Orgão Emissor" [(ngModel)] = 'document.expirationDate' name="expirationDate">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> UF de Emissão </mat-label>
              <input matInput placeholder="Uf de Emissão Documento" [(ngModel)] = 'document.issuingEntity' name="issuingEntity">
            </mat-form-field>
          </div>
        </li>
        <li>

          <div class="main-container-forms-cliente">
            <h1> Conta Bancaria </h1>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Código do Banco </mat-label>
              <input matInput placeholder="Código do Banco" [(ngModel)] = 'bankAccount.bankCode' name="bankCode">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Nome do Banco </mat-label>
              <input matInput placeholder="Nome do Banco" [(ngModel)] = 'bankAccount.bankName' name="bankName">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Agência </mat-label>
              <input matInput placeholder="Agência" [(ngModel)] = 'bankAccount.bankAccountId' name="bankAccountId">
            </mat-form-field>
    
            <mat-form-field appearance="outline"class="example-full-width">
              <mat-label> Número da Conta </mat-label>
              <input matInput placeholder="Número da Conta" [(ngModel)] = 'bankAccount.accountNumber' name="accountNumber">
            </mat-form-field>
    
          </div>
        </li>
    
        <li>
          <div class="main-container-forms-cliente">
            <h1> Beneficio </h1>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Número </mat-label>
              <input matInput placeholder="Beneficio Número" [(ngModel)] = 'benefit.number' name="number">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Código </mat-label>
              <input matInput placeholder="Código" [(ngModel)] = 'benefit.code' name="code">
            </mat-form-field>
    
            <mat-form-field  appearance="outline" class="example-full-width">
              <mat-label> Descrição </mat-label>
              <input matInput placeholder="Descrição" [(ngModel)] = 'benefit.description' name="description">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Valor </mat-label>
              <input matInput placeholder="Beneficio Valor" [(ngModel)] = 'benefit.value' name="value">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Valor Líquido </mat-label>
              <input matInput placeholder="Beneficio Valor Liquido" [(ngModel)] = 'benefit.netValue' name="netValue">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Data de Emissão </mat-label>
              <input matInput placeholder="Beneficio Data de Emissão" [(ngModel)] = 'benefit.issuingDate' name="issuingDate">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Data Início </mat-label>
              <input matInput placeholder="Beneficio Data de Inicio" [(ngModel)] = 'benefit.startDate' name="startDate">
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Uf de Emissão </mat-label>
              <input matInput placeholder="Uf de Emissão do Beneficio" [(ngModel)] = 'benefit.issuingCountry' name="issuingCountry">
            </mat-form-field>
    
          </div>
        </li>
        
      </ul>
    
    </div>
      <div class="botoes">
        <button mat-raised-button type="submit"> OK </button>

      </div>
    </form> 
</div>