<div class="container">
  <div class="toolbar-container">
    <mat-toolbar>
      <span>Novo Cliente ou Alteração de Dados</span>
    <button mat-raised-button type="button"  color="primary" (click)="submitForm()"> Salvar </button>
    <button mat-raised-button type="button" color="warn" [routerLink]="['']" routerLinkActive="yes"> Cancelar </button>
  </mat-toolbar> 
</div>
    
<form #clientForm="ngForm" (ngSubmit)="submitForm()"> 

  <div class="Botoes">
  </div>

    <div class="main-container-forms">
    
      <ul>
        <li>
          <div class="main-container-forms-cliente">
            <h1> Client Personal Information </h1>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Account Code </mat-label>
              <input matInput placeholder="Account Code" [(ngModel)] = "clienteLite.accountCode" name="accountCode" >
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Costumer ID </mat-label>
              <input matInput placeholder="CostumerId" [(ngModel)] = "clienteLite.customerId" name="costumerId" >
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> NickName </mat-label>
              <input matInput placeholder="Nickname" [(ngModel)] = "clienteLite.nickname" name="nickname" >
            </mat-form-field>

          </div>
        </li>

        <li>
    
          <div class="main-container-forms-cliente">
            <h1> Cliente </h1>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Nome </mat-label>
              <input matInput placeholder="Nome" [(ngModel)] = 'clienteLite.name' name="name">
              <mat-hint align="end"> Obrigatório </mat-hint>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Nacimento </mat-label>
              <input matInput placeholder="Nacimento" [(ngModel)] = "clienteLite.birthDate" name="birthDate">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Novo Email </mat-label>
              <input matInput placeholder="Novo E-mail" [(ngModel)] = "emailN.email" name="email">
            </mat-form-field>

            
              @for (emailT of clienteLite.emails; track emailT) {
                <div class="cliente-Phone">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput placeholder="E-mail" [(ngModel)] = "emailT.email" name="emailT" [ngModelOptions]="{name: emailT.email}">
                  </mat-form-field>
                  <button mat-icon-button type="button" aria-label="Example icon button with a vertical three dot icon" (click)="removeEmail(emailT.email)">
                    <mat-icon>delete</mat-icon>
                  </button>   
                </div>
                
                
              }

            <mat-form-field appearance="outline">
              <mat-label> Novo DDD </mat-label>
              <input matInput placeholder="Novo DDD" [(ngModel)] = "phoneN.ddd" name="phoneDDD">
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <mat-label> Novo Telefone </mat-label>
              <input matInput placeholder="Novo Telefone" [(ngModel)] = "phoneN.number" name="phoneNumber">
            </mat-form-field> 

              
                @for (phoneT of clienteLite.phones; track phoneT) {
                  <h2> DDD: {{phoneT.ddd}} | Number: {{phoneT.number}}</h2>
                  <span> </span>
                  <div class="cliente-Phone">
                    <mat-form-field appearance="outline">
                      <mat-label> Telefone </mat-label>
                      <input matInput placeholder="Telefone" [(ngModel)] = "phoneT.number" name='phoneT' [ngModelOptions]="{name: phoneT.number.toString()}">
                    </mat-form-field>
                    <button mat-icon-button type="button" aria-label="Example icon button with a vertical three dot icon" (click)="removePhone(phoneT.number)">
                      <mat-icon>delete</mat-icon>
                    </button>     
                  </div> 
                }
              

            

            <!--
              <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> DDD </mat-label>
              <input matInput placeholder="DDD" [(ngModel)] = "clienteLite.phones[0].ddd" name="phoneDDD">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Telefone </mat-label>
              <input matInput placeholder="Telefone" [(ngModel)] = "clienteLite.phones[0].number" name="phoneNumber">
            </mat-form-field>
            
            -->
            
            
            
    
            <mat-form-field appearance="outline" class="example-full-width">
              <input matInput placeholder="Observação" [(ngModel)] = 'clienteLite.note' name="note">
            </mat-form-field>
    
          </div>
        </li>
        <li>

          @for (addressT of clienteLite.addresses; track addressT) {
            <div class="main-container-forms-cliente">
              <h1> Endereço </h1>
      
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label> CEP </mat-label>
                <input matInput placeholder="CEP" [(ngModel)] = 'addressT.zipCode' name="zipCode">
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label> Rua </mat-label>
                <input matInput placeholder="Endereco" [(ngModel)] = 'addressT.street' name="street">
                <mat-hint align="end"> (rua, avenida, praça, etc) </mat-hint>
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label> Numero </mat-label>
                <input matInput placeholder="Numero" [(ngModel)] = 'addressT.number' name="addressNumber">
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label> Complemento </mat-label>
                <input matInput placeholder="Complemento" [(ngModel)] = 'addressT.complement' name="addressComplement">
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label> Bairro </mat-label>
                <input matInput placeholder="Bairro" [(ngModel)] = 'addressT.district' name="addressDistrict">
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label> Cidade </mat-label>
                <input matInput placeholder="Cidade" [(ngModel)] = 'addressT.city' name="addressCity">
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label> UF </mat-label>
                <input matInput placeholder="UF" [(ngModel)] = 'addressT.state' name="addressState">
              </mat-form-field>
      
            </div>
          }

          
        </li>
        
        <li>
          <div class="main-container-forms-cliente">
            <h1> Dados Pessoais </h1>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Nome da Mãe </mat-label>
              <input matInput placeholder="Nome do Mãe" [(ngModel)] = 'clienteLite.motherName' name="motherName">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Nome do Pai </mat-label>
              <input matInput placeholder="Nome do Pai" [(ngModel)] = 'clienteLite.fatherName' name="fatherName">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Naturalidade </mat-label>
              <input matInput placeholder="Naturalidade" [(ngModel)] = 'clienteLite.naturalness' name="naturalness">
            </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Estado da Naturalidade </mat-label>
              <input matInput placeholder="Estado Naturalidade" [(ngModel)] = 'clienteLite.naturalnessState' name="naturalnessState">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Nacionalidade  </mat-label>
              <input matInput placeholder="Nacionalidade" [(ngModel)] = 'clienteLite.nationality' name="nationality">
            </mat-form-field>
    
          </div>
        </li>
    
      </ul>
    
    
      <ul> 
    
        <li>
          <div class="main-container-forms-cliente">
            <h1> Documento </h1>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Numero do Documento </mat-label>
              <input matInput placeholder="Numero do Documento" [(ngModel)] = 'documentN.number' name="number">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Data de Emissão </mat-label>
              <input matInput placeholder="Data de Emissão Documetno" [(ngModel)] = 'documentN.issuingDate' name="issuingDate">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Orgão Emissor </mat-label>
              <input matInput placeholder="Orgão Emissor" [(ngModel)] = 'documentN.expirationDate' name="expirationDate">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> UF de Emissão </mat-label>
              <input matInput placeholder="Uf de Emissão Documento" [(ngModel)] = 'documentN.issuingEntity' name="issuingEntity">
            </mat-form-field>
          </div>
        </li>
        <li>

          <div class="main-container-forms-cliente">
            <h1> Conta Bancaria </h1>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Código do Banco </mat-label>
              <input matInput placeholder="Código do Banco" [(ngModel)] = 'bankAccountN.bankCode' name="bankCode">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Nome do Banco </mat-label>
              <input matInput placeholder="Nome do Banco" [(ngModel)] = 'bankAccountN.bankName' name="bankName">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Agência </mat-label>
              <input matInput placeholder="Agência" [(ngModel)] = 'bankAccountN.bankAccountId' name="bankAccountId">
            </mat-form-field>
    
            <mat-form-field appearance="outline"class="example-full-width">
              <mat-label> Número da Conta </mat-label>
              <input matInput placeholder="Número da Conta" [(ngModel)] = 'bankAccountN.accountNumber' name="accountNumber">
            </mat-form-field>
    
          </div>
        </li>
    
        <li>
          <div class="main-container-forms-cliente">
            <h1> Beneficio </h1>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Número </mat-label>
              <input matInput placeholder="Beneficio Número" [(ngModel)] = 'benefit.number' name="number">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Código </mat-label>
              <input matInput placeholder="Código" [(ngModel)] = 'benefit.code' name="code">
            </mat-form-field>
    
            <mat-form-field  appearance="outline" class="example-full-width">
              <mat-label> Descrição </mat-label>
              <input matInput placeholder="Descrição" [(ngModel)] = 'benefit.description' name="description">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Valor </mat-label>
              <input matInput placeholder="Beneficio Valor" [(ngModel)] = 'benefit.value' name="value">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Valor Líquido </mat-label>
              <input matInput placeholder="Beneficio Valor Liquido" [(ngModel)] = 'benefit.netValue' name="netValue">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Data de Emissão </mat-label>
              <input matInput placeholder="Beneficio Data de Emissão" [(ngModel)] = 'benefit.issuingDate' name="issuingDate">
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Data Início </mat-label>
              <input matInput placeholder="Beneficio Data de Inicio" [(ngModel)] = 'benefit.startDate' name="startDate">
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label> Uf de Emissão </mat-label>
              <input matInput placeholder="Uf de Emissão do Beneficio" [(ngModel)] = 'benefit.issuingCountry' name="issuingCountry">
            </mat-form-field>
    
          </div>
        </li>
        
      </ul>
</div>